fastapi
uvicorn[standard]
pydantic
python-multipart

flask
flask_cors

python-socketio
python-jose
passlib[bcrypt]
uuid

requests
pymongo
bcrypt

PyJWT
pyjwt[crypto]
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability